*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
	font-weight: 400;
}

.header {
    display: flex;

	width: 100%;
	height: 10vh;

	background: black;
}

.container {
	display: flex;
	justify-content: space-between;

	width: 90%;

	margin: 0 auto;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;

	background: url(assets/images.jpg);
	background-size: cover;
	background-position: center;
}

.enter {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 25px;

	width: 100px;
}

/* Main */

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 90vh;
    min-height: 770px;

	background: #ededed;

}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 90%;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.pair1 {
	display: flex;
	align-items: center;
	width: 720px;
	height: 50%;

}
.pair1 > svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.pair1 > ul {
    padding: 10px;
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

.pair1 > ul > li {
    cursor: pointer;
    font-size: 18px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.list {
	height: 30px;
	width: 80px;
	cursor: pointer;
}

.settings {
	width: 30px;
	height: 30px;
	cursor: pointer;
    transition: .5s;
}

.hide-settings {
    display: none;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    height: 40px;
    transition: 1s;
    animation-name: show;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.group-name {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.pair2 {
	display: flex;
	justify-content: space-between;
	width: 280px;
	height: 40px;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: blue;
    color: white;
    font-weight: 400;
    font-size: 17px;
    border: 0px;
    outline: none;
}

.settings-pair2 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.main-table {
	display: flex;
	justify-content: space-between;

	width: 90%;
	height: 70vh;
    min-height: 650px;

	margin: 0 auto;
}

.table-week {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

    height: 650px;
	width: 75%;
}

.table-week-day {
	display: flex;
	flex-direction: column;
	height: 200px;

	width: 32%;
	border-radius: 10px;
	border: 1px solid #666;
}

.nameOfDay {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.3);

	font-size: 18px;
	font-weight: bold;
}

.js-date {
	font-weight: normal;
	font-size: 14px;
}

.placeToDrop {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 75%;

	text-align: center;
	font-size: 30px;
	color: rgba(0,0,0,.4);
}

/* Table to Drag */

.table-work {
	display: flex;
	flex-direction: column;

	width: 23%;
	height: 50vh;

	border-radius: 10px;
	border: 1px solid #666;
}

.search {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	height: 50px;

	border-bottom: 1px solid rgba(0,0,0,.3);
}

.search-icon {
	width: 25px;
	height: 25px;
}

#txtarea {
	display: flex;
	align-items: center;
	width: 60%;
	height: 49px;

	font-size: 25px;

	background: #ededed;
	border: none;
	outline: none;
	resize: none;
}

.search-settings {
	width: 25px;
	height: 25px;
	cursor: pointer;
}
